.main_attend_his_div {
    width: 100%;
    background: transparent;
    justify-content: center;
}
.attend_his_div {
    width: 100%;
    background: #d0eff9;
    padding: 15px 0px;
    justify-content: center;
}
.attend_his_head {
    width: 95%;
    padding-bottom: 10px;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid grey;
}
.attend_his_div_1 {
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.select_his_div {
    width: 40%;
    justify-content: start;
}
.select_his_div_1 {
    width: 18%;
}
.select_his_div p {
    font-size: 14px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
}
.select_his_div input {
    width: 90%;
    border: 1px solid grey;
    background: transparent;
    padding: 5px 5px;
    border-radius: 5px;
    font-family: "Times New Roman", Times, serif;
}
.select_his_div input:focus {
    outline: none;
}
.select_his_div button {
    background-color: #0867d6;
    font-size: 15px;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    cursor: pointer;
    border: none;
    padding: 6px 30px;
    border-radius: 4px;
}
.select_his_div button:focus {
    outline: none;
}

/* .attend_his_data_div {
    width: 100%;
    overflow-y: scroll;
    margin-top: 20px;
    align-content: start;
}
.attend_his_data_div::-webkit-scrollbar {
    width: 0px;
}
.attend_his_data_div_1 {
    width: 100%;
    justify-content: space-around;
}
.attend_his_data_div_2 {
    width: 45%;
    background: #36b9cd;
    justify-content: center;
    box-shadow: 1px 1px 10px grey;
    border-radius: 4px;
    margin-top: 10px;
}
.attend_his_data_div_3 {
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px 10px 0px 0px;
}
.attend_color_1 {
    background: #04a9f3;
}

.attend_color_2 {
    background: #00c491;
}
.attend_his_data_count {
    margin: 0px;
    border-radius: 50%;
    width: 42px;
    background-color: white;
    height: 38px;
    padding: 8px 6px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.attend_his_data_head {
    margin: 0px;
}
.attend_his_data_head {
    font-size: 17px;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.attend_his_data_4 {
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    background-color: transparent;
    padding: 15px 10px;
}
.attend_his_data_label_text {
    width: 100%;
    color: white;
    border-bottom: 1px solid white;
    justify-content: space-around;
    font-weight: normal;
    margin: 0px;
    font-family: "Lora", serif;
    font-size: 15px;
    padding-bottom: 10px;
}
.attend_his_data_label_text span {
    width: 33%;
    text-align: left;
}
.attend_his_data_label_data {
    padding: 0px;
    margin-top: 15px;
    border: none;
}
.attend_his_data_office {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    color: white;
    font-family: "Lora" serif;
}
.attend_his_export {
    width: 100%;
    justify-content: center;
}*/

/* New Design */

.main_attend_his_div {
    position: relative;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: scroll;
    background: white;
    padding: 0px 10px;
}

.attend_select_div {
    padding: 0px 10px;
    width: 100%;
    margin: 10px;
    justify-content: space-around;
}
.attend_select_div_1 {
    width: 35%;
}
.attend_select_btn_div {
    width: 6%;
}
.attend_select_export_div {
    width: 6%;
    justify-content: end;
}
.his_export_btn {
    width: 44px;
    height: 40px;
    padding: 3px;
    border-radius: 50%;
    background-color: #04a9f3;
    border: none;
    color: white;
    cursor: pointer;
}
#attend_his_export_btn {
    width: 46px;
    height: 42px;
    background-color: #0867d6;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    padding: 8px 4px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 50%;
}
.attend_select_div_1 p {
    font-size: 13px;
    font-family: "Lora", serif;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    width: 20%;
    margin: 0px;
}
.attend_select_div_1 input {
    width: 75%;
    background: transparent;
    border: 1px solid grey;
    font-size: 14px;
    padding: 4px 4px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    border-radius: 5px;
}
.main_attend_his_div_1 {
    /* width: 98%; */
    flex: 0 0 1450px;
    margin-top: 10px;
    height: 400px;
    overflow-y: scroll;
    align-content: flex-start;
    left: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 7px grey;
    justify-content: center;
}

.attend_his_head_div {
    border: 1px solid grey;
    width: 98%;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 4px;
    margin-top: 10px;
}
.attend_his_head_para {
    font-size: 16px;
    font-family: "Lora", serif;
    color: #565e91;
    margin: 0px;
}
.attend_his_data_p {
    font-size: 14px;
    font-family: "Lora", serif;
    color: black;
    margin: 0px;
}
.attend_his_date {
    width: 15%;
}
.attend_his_time {
    width: 12%;
}
.attend_his_meter {
    width: 15%;
}
.attend_his_office {
    width: 15%;
}
.main_attend_his_data {
    width: 100%;
    justify-content: center;
}
.attend_is_data {
    width: 98%;
    box-shadow: 1px 1px 7px grey;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 7px 10px;
}
.main_attend_his_div::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background: grey;
}
.main_attend_his_div_1::-webkit-scrollbar {
    width: 1px;
    background: grey;
}
