body {
    background: #e8f0ee;
}
.home_attend {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}
.home_attend_div_1 {
    width: 70%;
}
.home_attend_div_1 h1 {
    font-size: 20px;
    width: 100%;
    font-family: "Oswald", sans-serif;
    text-align: left;
}
.home_attend_div_1 p {
    font-size: 15px;
    width: 100%;
    font-weight: bold;
    text-align: left;
    font-family: "Lora", serif;
}
.home_attend_div_2 {
    width: 70%;
    margin-top: 10px;
    justify-content: space-around;
}
.home_attend_card {
    width: 45%;
    box-shadow: 2px 2px 7px grey;
    background: white;
    flex-direction: column;
    flex-flow: column;
    padding: 50px 0px;
    justify-content: center;
    border-radius: 8px;
    margin-top: 10px;
}
.attend_icon {
    font-size: 30px;
    color: black;
    margin: 5px 0px;
}
.attend_text {
    font-size: 17px;
    font-weight: bold;
    font-family: "Lora", serif;
    width: 90%;
    text-align: center;
    margin: 10px 0px;
}
.office_location {
    font-size: 17px;
    font-weight: normal;
    margin: 10px 0px;
}
.office_btn {
    background: #d1dc3c;
    font-size: 16px;
    font-family: "Lora", serif;
    margin: 20px 0px;
    padding: 5px 30px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.office_btn:focus {
    outline: none;
}
.btn-close {
    border: none;
    outline: none;
    font-size: 33px;
    background: transparent;
}
.btn-close:focus {
    outline: none;
}
/* Submit Button Div */

.submit_attend {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    flex-flow: column;
    margin-top: 20px;
}
.submit_attend_div {
    width: 70%;
    background: #295d50;
    border-radius: 5px 5px 0px 0px;
    justify-content: center;
    align-items: center;
    padding: 3px 0px;
    box-shadow: 1px 1px 7px grey;
}
.submit_attend_div p {
    width: 90%;
    font-size: 20px;
    color: white;
    margin-bottom: 0px;
    justify-content: space-between;
}
.submit_attend_div_1 {
    width: 70%;
    justify-content: center;
    box-shadow: 1px 1px 7px grey;
    background-color: white;
}
.submit_attend_text {
    width: 90%;
    font-size: 22px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin: 5px 0px;
    justify-content: center;
}
.submit_attend_date {
    font-weight: normal;
    font-size: 17px;
    text-align: center;
}
.submit_attend_date span:first-child {
    width: 48%;
}
.submit_attend_date span:last-child {
    width: 48%;
}
.submit_attend_1 {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.submit_attend_btn {
    width: 100px;
    text-transform: capitalize;
    height: 98px;
    border-radius: 50%;
    padding: 7px 10px;
    background: #295d50;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Lora", serif;
}
.submit_attend_btn:focus {
    outline: none;
}
.submit_attend_btn span {
    margin: 0px;
    width: 100%;
    font-size: 30px;
}
.submit_attend_btn span:last-child {
    font-size: 16px;
}
.attend_submit {
    background: #e8f0ee;
    width: 100%;
    justify-content: center;
}
.submit_location_div {
    background: white;
    width: 70%;
    flex-direction: column;
    flex-flow: column;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 0px;
    justify-content: center;
}

.submit_location_div p {
    font-size: 15px;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
}
#attend_textarea {
    resize: none;
    width: 80%;
    border: 2px solid grey;
    font-size: 16px;
    font-family: "Lora", serif;
    height: 80px;
    border-radius: 6px;
}
#attend_textarea:foc {
    outline: none;
}
.submit_location_div_1 {
    width: 70%;
    background: transparent;
    justify-content: right;
    margin: 10px 0px;
}
#submit_location_btn {
    background: #292d8a;
    color: white;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 3px 30px;
}
button:focus {
    outline: none;
}
#office_name {
    font-size: 22px;
}
#main_time {
    font-size: 19px;
}
.logout_final_div {
    width: 70%;
    margin-top: 10px;
    background: white;
    justify-content: center;
    padding: 20px 0px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 7px grey;
}
.logout_final_p {
    width: 90%;
    font-family: "Lora", serif;
    font-weight: bold;
    font-size: 16px;
}
.logout_final_btn_div {
    width: 90%;
    justify-content: space-between;
}
.logout_final_btn {
    padding: 5px 30px;
    background: #292d8a;
    cursor: pointer;
    border: none;
    color: white;
    font-family: "Times New Roman", Times, serif;
    border-radius: 5px;
    font-size: 16px;
}
.logout_final_btn:focus {
    resize: none;
}
.chart_div {
    width: 100%;
    margin-top: 20px;
    justify-content: space-around;
}
#myChart {
    width: 70% !important;
    height: 260px !important;
    justify-content: center;
    background: transparent;
}
.chartjs-size-monitor-shrink {
    font-size: 30px !important;
}
.today_attend_div_1 {
    margin-top: 20px;
}
.attend_data {
    width: 25%;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
}
.attend_data_text {
    font-size: 15px;
    font-family: "Lora", serif;
    background-color: white;
    box-shadow: 1px 1px 7px grey;
    border-radius: 4px;
    padding: 5px 5px;
    font-weight: bold;
    width: 95%;
    text-align: left;
    word-spacing: 3px;
}
.recent_attend_div {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 10px;
}
.recent_attend_div h1 {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
.recent_attend_div_1 {
    width: 46%;
    justify-content: center;
    margin-top: 10px;
}
.recent_attend_div_1 p {
    font-family: "Oswald", sans-serif;
    font-size: 17px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.recent_attend_div_1 input {
    font-weight: bold;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: "Lora", serif;
    width: 70%;
}
.recent_attend_div_2 {
    width: 50%;
    justify-content: center;
}
.attend_history_div {
    width: 100%;
    background-image: linear-gradient(150deg, #f7fffe 0 55%, #aeebea 0% 100%);
}
.attend_history_div_1 h1 {
    width: 45%;
    font-size: 17px;
}
.load_recent_div {
    width: 72%;
    padding: 70px;
    position: absolute;
    left: 27%;
    opacity: 0.9;
    color: white;
    justify-content: center;
    z-index: 1;
    display: none;
    background-color: transparent;
}
.load_recent_div img {
    width: 150px;
    height: 150px;
}
