.flex_div {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
