@media screen and (min-width: 1100px) {
    .side_nav_link {
        display: flex !important;
    }
    .user_text {
        display: block !important;
    }
    .side_nav_div {
        display: flex !important;
    }
    .top_side_nav {
        display: none !important;
    }
    .main_side_nav_div {
        display: flex !important;
    }
    .nav_close {
        display: none !important;
    }
}
@media screen and (max-width: 1100px) {
    .top_side_nav {
        display: flex;
    }
    .main_dash_div_1 {
        flex-direction: column;
        flex-flow: column;
        align-items: center;
        height: auto;
    }
    .side_dash_div {
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
        flex-flow: row;
        flex-wrap: wrap;
    }
    .side_profile_div {
        width: 70%;
    }
    .menu_icon_div {
        display: flex;
        justify-content: right;
    }
    .side_nav_div {
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .side_nav_p {
        width: 30%;
        font-size: 14px;
        margin-top: 10px;
    }
    .main_body {
        width: 100%;
        justify-content: center;
    }
    .main_side_nav_div {
        display: none;
        /* width: 25%; */
        width: 40%;
        /* position: sticky; */
        position: fixed absolute;
        z-index: 1;
        /* margin: 0px; */
    }
    .menu_nav_btn {
        display: flex;
    }
    .main_div {
        margin-left: 0;
        width: 100%;
        justify-content: center;
    }
    .circle_text {
        margin: 0px;
    }
    .side_nav_text {
        margin: 0px;
    }
    /* .user_text {
        display: none;
    } */
    .side_nav_link {
        /* display: none; */
        justify-content: space-around;
        margin-top: -10px;
    }
    .side_nav_a {
        /* width: 30%; */
        width: 100%;
    }
    .load_recent_div {
        left: 0;
        width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .details_p span:first-child {
        font-size: 11px;
    }
    .details_p span:last-child {
        font-size: 15px;
    }
    .details_div_2 p {
        font-size: 15px;
    }
    .side_nav_a {
        font-size: 15px;
    }
    .home_attend_card {
        width: 70%;
    }
}
@media screen and (max-width: 850px) {
    .main_side_nav_div {
        width: 60%;
    }
    .leave_div {
        width: 100%;
    }
    .side_nav_a {
        font-size: 15px;
    }
    .login_form {
        width: 50%;
    }
    .home_attend_card {
        width: 90%;
    }
    .today_attend_office {
        font-size: 16px;
    }
    .today_attend_text {
        font-size: 15px;
    }
    .today_attend_text_1 {
        font-size: 15px;
    }
    .attend_data_text {
        font-size: 13px;
    }
}
@media screen and (max-width: 700px) {
    .main_side_nav_div {
        width: 80%;
    }
    .details_p span:first-child {
        font-size: 7px;
    }
    .details_p span:last-child {
        font-size: 12px;
    }
    .details_div_2 p {
        font-size: 12px;
    }
    .details_head {
        font-size: 13px;
    }
    .details_head_div a {
        font-size: 12px;
    }
    .side_nav_a {
        font-size: 13px;
    }
    .login_form {
        width: 95%;
    }
    .recent_attend_div_2 {
        width: 100%;
    }
    .load_recent_div {
        margin-top: -20px;
    }
    .recent_attend_div_1 {
        width: 100%;
    }
    .attend_select_div_1 p {
        font-size: 11px;
    }
    .attend_select_div_1 input {
        font-size: 12px;
    }
    .attend_select_div_1 {
        width: 49%;
    }
    .attend_select_btn_div {
        width: 40%;
        margin-top: 10px;
        justify-content: center;
    }
    .attend_select_export_div {
        width: 40%;
        margin-top: 10px;
        justify-content: center;
    }
    .his_export_btn {
        width: 34px;
        font-size: 12px;
        height: 30px;
    }
    #attend_his_export_btn {
        width: 34px;
        height: 30px;
        font-size: 12px;
    }
}
@media screen and (max-width: 700px) {
    .today_attend_div {
        flex-direction: column;
        flex-flow: column;
    }
    .today_attend_div_1 {
        width: 80%;
    }
    .attend_data {
        width: 60%;
        margin-top: 10px;
    }
    #myChart {
        width: 100%;
    }
    .recent_attend_div h1 {
        font-size: 14px;
    }
    .leave_his_data_para {
        font-size: 13px;
    }
    .leave_his_data_para_1 {
        font-size: 12px;
    }
    .leave_action_btn {
        font-size: 12px;
        margin-top: 5px;
    }
}
@media screen and (max-width: 450px) {
    .chart_div {
        flex-direction: column;
        flex-flow: column;
    }
    .attend_data {
        width: 90%;
        margin: top 10px;
    }
    #myChart {
        width: 90%;
        height: 100px;
    }
    .attend_data_text {
        text-align: center;
    }
    .attend_select_div_1 p {
        font-size: 8px;
    }
    .attend_select_div_1 input {
        font-size: 9px;
    }
    .leave_his_data_para {
        font-size: 11px;
    }
    .leave_his_data_para_1 {
        font-size: 10px;
    }

    .leave_his_data_div_3 {
        justify-content: space-around;
    }
    .leave_his_data_div_1 {
        justify-content: space-around;
    }
    .actions {
        width: 40%;
        justify-content: center;
    }
}
@media screen and (max-width: 450px) {
    .attend_text {
        font-size: 13px;
    }
    .office_btn {
        font-size: 12px;
    }
    .today_attend_office {
        font-size: 15px;
    }
    .today_attend_text {
        font-size: 13px;
    }
    .today_attend_text_1 {
        font-size: 13px;
    }
}
