.main_verify_div{
    width: 100%;
    padding: 20px 0px;
    justify-content: center;
}
.verify_div{
    width: 40%;
    box-shadow: 1px 1px 7px grey;
    justify-content: center;
    border-radius: 5px;
}
.verify_email_image{
    width: 100px;
    height: 100px;
}
.verify_div h1{
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-size: 18px;
        width: 95%;
        text-transform: uppercase;
}
.verify_div p{
    font-size: 14px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        width: 95%;   
}
.verify_div_1{
    width: 100%;
    flex-direction: column;
    flex-flow: column;
    padding: 10px 0px;
}
.verify_div_1 a{
    font-size: 13px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-weight: normal;
        padding: 5px 50px;
        cursor: pointer;
        border-radius: 3px;
        background: #374152;
        color: white;
        text-decoration: none;
}