body {
    background: #d1dfdd;
}
.head_div {
    background: #2c2cb0;
    padding: 20px 0px;
    /* padding-bottom: 90px; */
}
.head_div span {
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: black;
    padding: 3px 13px;
    border-radius: 70px;
    background: white;
}
.head_div a {
    font-size: 17px;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    padding: 3px 15px;
    color: black;
    text-decoration: none;
    background: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.main_deg_div {
    width: 100%;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-top: 10px;
}
.designation_div {
    width: 85%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: scroll;
}
.deg_div {
    flex: 0 0 350px;
    height: auto;
    background-color: #f0f8f7;
    border-radius: 5px;
    box-shadow: 3px 3px 7px grey;
    margin: 10px;
    left: 10px;
    padding: 5px 0px;
    align-content: start;
    align-items: start;
    cursor: pointer;
}
.designation_div::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.deg_div p {
    width: 90%;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    font-size: 15px;
}
.icon_num {
    text-align: center;
    width: 100%;
}

.deg_div span {
    font-size: 20px;
}
.icon_num span {
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 17px;
    color: black;
    background: transparent;
}
.icon {
    transition: 1s;
}
.deg_div:hover .icon {
    transform: rotate(40deg);
}
.arrow {
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 28px;
    color: black;
    padding: 3px 18px;
    border-radius: 70px;
    background: white;
    cursor: pointer;
}
.main_table {
    width: 100%;
    margin-top: 20px;

    justify-content: start;
    overflow-x: scroll;
}
.main_table::-webkit-scrollbar {
    height: 0px;
    background: grey;
}
#users-table_wrapper {
    width: 100%;

    /* display: flex; */
}
#users-table {
    background: #f0f8f7;
    box-shadow: 3px 3px 7px grey;
}
#users-table thead {
    color: black;
    background-color: #43d1c1;
    color: white;
}
#users-table thead th {
    border-bottom: none;
}
.dataTables_length {
    width: 45%;
    text-align: center;
}
#users-table_filter {
    width: 45%;
    text-align: center;
}
#users-table_filter input {
    outline: none;
    border: 2px solid black;
    font-family: "REM", sans-serif;
}
#users-table_filter input:focus {
    outline: none;
}
.dataTable {
    background: #0069d9;
    color: white;
}
.dataTable tbody {
    color: black;
}
#table_body tr {
    background: #f0f8f7;
}
#users-table tbody {
    font-size: 16px;
    font-family: "REM", sans-serif;
}
.dataTables_info {
    width: 45%;
    text-align: center;
    font-family: "REM", sans-serif;
}
#users-table_paginate {
    width: 45%;
    text-align: center;
    font-family: "REM", sans-serif;
}
.dt-buttons {
    width: 50%;
    text-align: center;
}
.dt-buttons button {
    background: #5b8290;
    font-size: 15px;
    color: white;
    padding: 5px 20px;
    font-family: "REM", sans-serif;
    border: none;
    outline: none;
}
.dt-buttons button:hover {
    background: #5b8290 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #f0f8f7;
    border: none;
    outline: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #f0f8f7;
    border: none;
    outline: none;
}
.action_btn {
    padding: 4px 40px;
    font-size: 16px;
    font-family: "REM", sans-serif;
    border: none;
    background: #284e60;
    color: white;
    cursor: pointer;
    outline: none;
}
.action_btn:focus {
    outline: none;
}
.modal-body {
    width: 100%;
    background: #f0f8f7;
}
.all_details_div {
    background: transparent;
    width: 100%;
}
.all_details_div_1 {
    width: 95%;
    background: #fdfdfd;
    border-radius: 6px;
    padding: 10px 0px;
    box-shadow: 3px 3px 7px grey;
}
.all_details_div_1 h1 {
    width: 95%;
    font-size: 15px;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align: left;
}
.all_details_para {
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.all_details_span_1 {
    width: 30%;
    text-transform: uppercase;
    border: 1px solid grey;
    font-weight: bold;
    font-family: "REM", sans-serif;
    font-size: 14px;
    padding: 5px;
}
.all_details_span_2 {
    width: 65%;
    font-family: "REM", sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    border: 1px solid grey;
    font-weight: bold;
    padding: 5px;
}
.view_btn {
    background-color: #284e60;
    border: none;
    outline: none;
    font-family: "Courier New", Courier, monospace;
    font-size: 17px;
    cursor: pointer;
    color: white;
    padding: 3px 30px;
    font-weight: bold;
}

.step_div {
    width: 95%;
    margin-bottom: 20px;
}
.step_div button {
    font-size: 14px;
    font-weight: bold;
    background: #fdfdfd;
    border: 1px solid grey;
    border-radius: 4px;
    width: 20%;
    padding: 3px;
    cursor: pointer;
    border: 1px solid grey;
    outline: none;
    background-color: #fdfdfd;
    transition: 0.5s;
    font-family: "REM", sans-serif;
}
.step_div button:hover {
    background: grey;
    border: 1px solid grey;
}
.step_head_div {
    width: 90%;
}
.step_head_div hr {
    /* height: 1px; */
    font-size: 10px;
    background: grey;
}
.step_icon {
    padding: 4px 13px;
    background: grey;
    border-radius: 70px;
    color: white;
}

.main_step_div {
    width: 100%;
}
.main_step_div button {
    border: 2px solid black;
    background-color: #fdfdfd;
    font-size: 17px;
    cursor: pointer;
    border-radius: 4px;
    padding: 3px 10px;
    font-family: "REM", sans-serif;
    /* transform: rotate(180deg); */
}
.main_step_div span {
    margin-left: -20px;
    font-size: 20px;
    background-color: #f0f8f7;
}
.main_step_div button:focus {
    outline: none;
}
.btn-close {
    background: transparent;
    border: none;
    font-size: 22px;
    cursor: pointer;
    outline: none;
}
.btn-close:focus {
    outline: none;
}
#all_details_1 {
    display: flex;
    animation: details_ani_1 0.5s linear;
}
#all_details_2 {
    display: none;
    animation: details_ani_1 0.5s linear;
}
#all_details_3 {
    display: none;
    animation: details_ani_1 0.5s linear;
}
.education_view_div_1 {
    width: 100%;
}
.ex_view_div_1 {
    width: 100%;
}
@keyframes details_ani_1 {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}
.show_file_div {
    width: 95%;
}
.show_file_div iframe {
    width: 100%;
    height: 100vh;
}
